.section {
    --header-stub-height: 20px;

    position: relative;
    display: inline-block;
    min-height: 100px;
    width: 100%;
    color: var(--text-secondary);
}
.section::before {
    content: "";
    position: absolute;
    top: calc(-1 * var(--header-stub-height));
    background: inherit;
    width: 100%;
    height: var(--header-stub-height);
    border-top-right-radius: var(--header-stub-height);
    border-top-left-radius: var(--header-stub-height);
}

.section-title {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.section.title {
    margin-top: var(--header-height);
    padding-top: 150px;
    background-color: var(--background-primary);
}
.section-title.title {
    font-size: 2.5rem;
    color: var(--text-tertiary);
    text-shadow: 0 .1em .2em rgba(0, 0, 0, .15);
}
.section.about {
    background-color: var(--background-secondary);
}
.section.projects {
    background-color: var(--background-tertiary);
}
.section.footer {
    background-color: var(--background-alternate);
    color: var(--text-alternate);
}